@using ControleDeContatos.Models.Usuario;
@model UsuarioModel
@{
    ViewData["Title"] = "Confirmação apagar o usuario";
}

<div class="text-center">
    <h3>Realmente deseja apagar o usuario (@Model.Nome)</h3>

    <a class="btn btn-primary btn-block m-2" role="button" asp-controller="Usuario" asp-action="Index">Cancelar exclusão</a>
    <a class="btn btn-danger btn-block m-2" role="button" asp-controller="Usuario" asp-action="ApagarUsuarioConfirmacao" asp-route-id="@Model.Id">Confirmar exclusão</a>
</div>

