@using ControleDeContatos.Models.Usuario;
@using Data.Entities.Enuns;
@model EditarUsuarioModel
@{
    ViewData["Title"] = "Editar contato";
}
<div class="text-center">

    <h1 class="display-4">Editar Usuário</h1>

</div>

<form asp-controller="Usuario" asp-action="EditarUsuario" method="post">

    <input type="hidden" asp-for="Id"/>
    <div class="form-group p-2">
        <label for="nome">Nome</label>
        <input type="text" asp-for="Nome" class="form-control" placeholder="Digite o nome do usuário.">
        @*@Html.ValidationMessageFor(x => x.Nome)*@
        <span asp-validation-for="Nome" class="text-danger"></span>
    </div>

    <div class="form-group p-2">
        <label for="email">E-mail</label>
        <input type="text" asp-for="Email" class="form-control" placeholder="Digite o e-mail do usuário.">
        @*@Html.ValidationMessageFor(x => x.Email)*@
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>

    <div class="form-group p-2">
        <label for="login">Login</label>
        <input type="text" asp-for="Login" class="form-control" placeholder="Digite o login do usuário.">
        @*@Html.ValidationMessageFor(x => x.Email)*@
        <span asp-validation-for="Login" class="text-danger"></span>
    </div>

    <div class="form-group p-2">
        <label for="perfil">Perfil</label>
        <select asp-for="Perfil" class="form-control">
            <option value="">Selecione</option>
            <option value="@EnumPerfil.Admin">Administrador</option>
            <option value="@EnumPerfil.Padrao">Padrão</option>
            <span asp-validation-for="Perfil" class="text-danger"></span>
        </select>
    </div>


    <button type="submit" class="btn btn-primary p-2 btn-block">Editar</button>
    <a class="btn btn-secondary p-2 btn-block" asp-controller="Usuario" asp-action="Index">Voltar</a>

</form>
